# Database
DB_DSN=honeybee:honeybeepw@tcp(mysql:3306)/honeybee_enhanced?parseTime=true&charset=utf8mb4
MYSQL_ROOT_PASSWORD=rootpw
MYSQL_DATABASE=honeybee_enhanced
MYSQL_USER=honeybee
MYSQL_PASSWORD=honeybeepw

# Auth
JWT_SECRET=change-me-in-prod-please

# Server
HTTP_ADDR=0.0.0.0:5100
NODE_ADDR=0.0.0.0:9001
LOG_LEVEL=info
